[0] Автозапчасть: Колесо
Марка машины: BMW
Модель машины: X5
Стоимость автозапчасти: 20000,00 рублей
Наличие: Есть в наличии
[1] Автозапчасть: Руль
Марка машины: ВАЗ
Модель машины: 2107
Стоимость автозапчасти: 2415,55 рублей
Наличие: Есть в наличии
[2] Автозапчасть: Амортизатор
Марка машины: ВАЗ
Модель машины: 2106
Стоимость автозапчасти: 1000,00 рублей
Наличие: Нет в наличии
Количество элементов в коллекции: 3
Выполнение завершено успешно
